/**
* @file
* Theme stylesheet for the EtTransaction module.
*/
.et_transaction dl,
.et_transaction dd {
	margin: 0;
}
.et_transaction .links {
	text-align: center;
}
.et_transaction .percent {
	text-align: right; /* LTR */
}
.et_transaction .total {
	text-align: center;
}
.et_transaction-chtext {
	width: 80%;
}

.et_transaction {
  overflow: hidden;
}
.et_transaction .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.et_transaction .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}