/* Layout: */

.reports-col-main {
	flex: 1;
}

.reports-col-complementary {
	flex: 1;
}

/* Responsive: */

@media only screen and (min-width: 640px) {
	.reports-layout {
		display: flex;
	}
}


.reports-container {
	/*max-width: 60em;*/
	margin-right: auto;
	margin-left: auto;
}

.reports-col {
	padding: 1em;
	margin: 20px 2px 2px 0;
	background: #e0e0d8;
}


/*report-tabs*/

.flex-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/*height: 100vh;*/
}

.flex-container .report-tabs {
	display: flex;
	flex-direction: row;
}

@media (max-width: 800px) {
	.flex-container .report-tabs {
		flex-direction: column;
	}
}
.tab-container {
	width: 100%;
	border: 1px solid #bfbfbf;
	background-color: #fff;
}

.report-tabs {
	display: flex;
}

.tab-container div.report-tabs {
	margin: 0;
}
.report-tabs a {
	width: auto;
	padding: 10px 20px;
	border: 1px solid #fc7904;
	cursor: pointer;
	/*text-transform: uppercase;*/
	background-color: #fc7904;
	color: #fff;
	opacity: 0.9;
}
.report-tabs a:hover {
	opacity: 1;
	background-color: #fc7904;
}
.report-tabs .non-active {
	opacity: 0.6;
}

.tab-content {
	padding: 10px 20px;
}

.hidden {
	display: none;
}

a {
	color: #fc7904;
	text-decoration: none;
}

.author {
	position: absolute;
	left: 35px;
	top: 35px;
	color: #fff;
}