{#
/**
 * @file
 * Default theme implementation to display the et_transaction results in a block.
 *
 * Variables available:
 * - title: The title of the et_transaction.
 * - results: The results of the et_transaction.
 * - links: Links in the et_transaction.
 * - pid: The pid of the et_transaction
 * - cancel_form: A form to cancel the user's transaction, if allowed.
 * - raw_links: The raw array of links.
 *
 * @see template_preprocess_et_transaction_results()
 *
 * @ingroup themeable
 */
 #}
 <div class="et_transaction">
  {% if show_title %}
    <h3 class="et_transaction-title">{{ title }}</h3>
  {% else %}
    <h3 class="et_transaction-results-title">{{ results_title }}</h3>
  {% endif %}
  <dl>
    {{ results }}
  </dl>
  <div class="total">
  {% trans %}Total transactions: {{ transactions }}{% endtrans %}
    </div>
  </div>
